<!DOCTYPE html>
<html lang="hu" ng-app="forgalminaplo">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--CSS-->
        <link rel="stylesheet" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/style.css" />
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

        <!--Javascript-->
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/angular.min.js"></script>

        <script src="../js/angular-route.min.js"></script>
        <script src="../js/angular-animate.min.js"></script>
        <script src="../js/sha1.js"></script>
        <script src="../js/fullcalendar.js"></script>
        <script src="../js/locales-all.min.js"></script>

        <script src="../js/app.js"></script>
        <script src="../js/factory.js"></script>

        <!--Controllers-->
        <script src="../js/controllers/loginCtrl.js"></script>
        <script src="../js/controllers/teacherCtrl.js"></script>
        <script src="../js/controllers/studentsCtrl.js"></script>
        <script src="../js/controllers/studentdataCtrl.js"></script>
        <script src="../js/controllers/settingsCtrl.js"></script>

        <title>{{title}}</title>
    </head>
    <body>
        <header ng-if="loggedIn" ng-controller="loginCtrl">
            <nav class="navbar navbar-expand-lg" style="background-color: #1c658c">
                <div class="container-fluid">
                    <img src="../img/LOGOarnyek.png" alt="Logó" class="logo" />
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="menu-icon"><i class="bx bx-menu" style="color: #ffffff"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item" ng-if="loggedPermission<=2">
                                <!--tanár diák látja (permission 1 || 2)-->
                                <a class="nav-link" href="#!/calendar"><i class='bx bx-calendar'  ></i>Naptár</a>
                            </li>
                            <li class="nav-item" ng-if="loggedPermission==1">
                                <!--Csak diák látja (permission 1)-->
                                <a class="nav-link" href="#!/teacherdata"><i class='bx bxs-contact'></i>Tanárom elérhetőségei</a>
                            </li>
                            <li class="nav-item" ng-if="loggedPermission==2">
                                <!--Csak tanár látja (permission 2)-->
                                <a class="nav-link" href="#!/studentdata"><i class='bx bxs-contact'></i>Diákok elérhetőségei</a>
                            </li>
                            <li class="nav-item" ng-if="loggedPermission>=2">
                                <!--Csak admin látja (permission 3)-->
                                <a class="nav-link" href="#!/studentlist"><i class='bx bx-user-pin'></i></i>Diákok kezelése</a>
                            </li>
                            <li class="nav-item" ng-if="loggedPermission==3">
                                <!--Csak admin látja (permission 3)-->
                                <a class="nav-link" href="#!/teacherlist"><i class='bx bxs-user-pin'></i>Tanárok kezélese</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#!/settings"><i class='bx bx-cog'></i>Beállítások</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" ng-click="logout()"><i class='bx bx-log-out'></i>Kijelentkezés</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="container" ng-view></main>

        <footer class="bg-white">
            <div class="bg-light py-4">
                <div class="container text-center">
                    <p class="text-muted mb-0 py-2">{{ title }} - {{ company }} - {{ author }}</p>
                </div>
            </div>
        </footer>
    </body>
</html>
