<!--
<div class="container">
    <div class="settings-container">
        <h3>Jelszó módosítása</h3>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Új jelszó" name="newpassword" ng-model="password.password" />
            <label for="floatingInput">Új jelszó</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Új jelszó megerősítése" name="newpasswordagain" ng-model="uNewPasswordAgain" />
            <label for="floatingPassword">Új jelszó megerősítése</label>
        </div>
        <input type="button" class="btn btn-sm btn-success" value="Módosítás" ng-click="passMod()" />
    </div>
    ---------------------

    <div class="settings-container">
        <h3>E-mail módosítása</h3>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Új E-mail" name="newemail" ng-model="email.email" />
            <label for="floatingInput">Új E-mail</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Új E-mail megerősítése" name="newemailagain" ng-model="uNewEmailAgain" />
            <label for="floatingPassword">Új E-mail megerősítése</label>
        </div>
        <input type="button" class="btn btn-sm btn-success" value="Módosítás" ng-click="emailMod()" />
    </div>
    ---------

    <div class="settings-container">
        <h3>Telefonszám módosítása</h3>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Új Telefonszám" name="newphone" ng-model="phoneNum.phoneNum" />
            <label for="floatingInput">Új Telefonszám</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Új Telefonszám megerősítése" name="newphoneagain" ng-model="uNewPhoneAgain" />
            <label for="floatingPassword">Új Telefonszám megerősítése</label>
        </div>
        <input type="button" class="btn btn-sm btn-success" value="Módosítás" ng-click="phoneMod()" />
    </div>
</div>
-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <h2 class="h3 mb-4 page-title">Beállítások</h2>
            <div class="col-md-7">
                <div class="teacher-data">
                    <a>Tanárom adatai</a><br />
                    <a><i class="bx bx-user teacher-data-icon"></i>Név: </a><br />
                    <a><i class="bx bx-phone teacher-data-icon"></i>Telefon:</a> <br />
                    <a><i class="bx bx-envelope teacher-data-icon"></i>E-mail: </a>
                    <a>{{teacher.email}}</a>
                </div>
            </div>
            <div class="my-4">
                <form>
                    <hr class="my-4" />
                    <div class="form-group">
                        <label for="inputEmail4">E-mail</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="inputAddress5">Telefonszám</label>
                        <input type="text" class="form-control" id="inputAddress5" placeholder="" />
                    </div>
                    
                    <!--Jelszó mod-->
                    <hr class="my-4" />
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <h4>Jelszó módosítása</h4>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Jelenlegi jelszó" name="oldpasswod" ng-model="password.password" />
                                <label for="floatingInput">Jelenlegi jelszó</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Új jelszó" name="newpassword" ng-model="password.password" />
                                <label for="floatingInput">Új jelszó</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Új jelszó megerősítése" name="newpasswordagain" ng-model="uNewPasswordAgain" />
                                <label for="floatingPassword">Új jelszó megerősítése</label>
                            </div>
                        </div>
                    </div>
                    <input type="button" class="btn btn-primary" value="Módosítás" ng-click="passMod()" />

                    <!--Email mod-->
                    <hr class="my-4" />
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <h4>E-mail cím módosítása</h4>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="Új E-mail megerősítése" name="newemailagain" ng-model="oldEmail" />
                                <label for="floatingPassword">Jelenlegi e-mail</label>
                            </div><div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="Új E-mail" name="newemail" ng-model="email.email" />
                                <label for="floatingInput">Új E-mail</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="Új E-mail megerősítése" name="newemailagain" ng-model="uNewEmailAgain" />
                                <label for="floatingPassword">Új E-mail megerősítése</label>
                            </div>
                        </div>
                    </div>
                    <input type="button" class="btn btn-primary" value="Módosítás" ng-click="emailMod()" />

                    <!--telefon mod-->
                    <hr class="my-4" />
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <h4>Telefonszám módosítása</h4>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Új Telefonszám megerősítése" name="newphoneagain" ng-model="oldPhonenum" />
                                <label for="floatingPassword">Régi telefonszám</label>
                            </div><div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Új Telefonszám" name="newphone" ng-model="phoneNum.phoneNum" />
                                <label for="floatingInput">Új Telefonszám</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Új Telefonszám megerősítése" name="newphoneagain" ng-model="uNewPhoneAgain" />
                                <label for="floatingPassword">Új Telefonszám megerősítése</label>
                            </div>
                        </div>
                    </div>
                    <input type="button" class="btn btn-primary" value="Módosítás" ng-click="phoneMod()" />
                </form>
            </div>
        </div>
    </div>
</div>