<div class="container">
    <div class="settings-container font-color">
        <h3>Jelszó módosítása</h3>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Új jelszó" name="newpassword" ng-model="password.password" />
            <label for="floatingInput">Új jelszó</label>
        </div>
        <br />
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Új jelszó megerősítése" name="newpasswordagain" ng-model="uNewPasswordAgain" />
            <label for="floatingPassword">Új jelszó megerősítése</label>
        </div>
        <br />
        <input type="button" class="btn btn-sm btn-success" value="Módosítás" ng-click="passMod()" />
    </div>

    <div class="settings-container font-color">
        <h3>E-mail módosítása</h3>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="" name="newemail" ng-model="email.email" />
            <label for="floatingInput">Új E-mail</label>
        </div>
        <br />
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="" name="newemailagain" ng-model="uNewEmailAgain" />
            <label for="floatingPassword">Új E-mail megerősítése</label>
        </div>

        <br />
        <input type="button" class="btn btn-sm btn-success" value="Módosítás" ng-click="" />
    </div>
</div>
