<div class="passchange">
    <h3>Jelszó módosítása</h3>
        <input type="newpassword" class="form-control" id="floatingPassword" placeholder="" name="newpassword" ng-model="uNewPassword" />
        <label for="floatingInput">Új jelszó</label>
        <br />
        <input type="newpasswordagain" class="form-control" id="floatingPassword" placeholder="" name="newpasswordagain" ng-model="uNewPasswordAgain" />
        <label for="floatingPassword">Új jelszó megerősítése</label>
    <br />
    <input type="button" class="btn btn-sm btn-success" value="Módosítás" ng-click="" />
</div>

<div class="emailchange">
    <h3>E-mail módosítása</h3>
        <input type="newemail" class="form-control" id="floatingInput" placeholder="" name="newemail" ng-model="uNewEmail" />
        <label for="floatingInput">Új E-mail</label>
        <br />
        <input type="newemailagain" class="form-control" id="floatingInput" placeholder="" name="newemailagain" ng-model="uNewEmailAgain" />
        <label for="floatingPassword">Új E-mail megerősítése</label>
    <br />
    <input type="button" class="btn btn-sm btn-success" value="Módosítás" ng-click="" />
</div>