<h3>Diákjaim adatai</h3>
<hr>
<div ng-controller="studentdataCtrl">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Diák neve</th>
                <th>Diák telefonszáma</th>
                <th>Diák email-címe</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students">
                <td>{{student.userName}}</td>
                <td>{{student.phoneNum}}</td>
                <td>{{student.email}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">Összesen: {{students.length}} diák</td>
            </tr>
        </tfoot>
    </table>

</div>