<h3>Diákok kezelése</h3>
<hr />
<div ng-controller="studentsCtrl">
    <div ng-include="'Modal.html'"></div>
    <!-- Button trigger modal -->
    <nav class="navbar navbar-light">
        <form class="form-inline">
            <input type="text" ng-model="search" class="form-control mr-sm-2" placeholder="Keresés" aria-label="Search" />
        </form>
    </nav>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ng-click="addPeople()">Új diák felvétele</button>
    <table class="table table-hover table-sm table-white">
        <thead>
            <tr>
                <th>Diák neve</th>
                <th>Diák telefonszáma</th>
                <th>Diák email-címe</th>
                <th class="text-end">Műveletek</th>
            </tr>
        </thead>
        <tbody>
            <!--tanár id-->
            <tr class="animate" ng-repeat="people in peoples | filter: search" ng-click="selectRow($index)">
                <td>{{people.userName}}</td>
                <td>{{people.phoneNum}}</td>
                <td>{{people.email}}</td>
                <td class="text-end">
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ng-click="diary(people.ID)">
                        <i class="bx bxs-book" style="color: #ffffff"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ng-click="modPeople(people.ID)">
                        <i class="bx bx-cog" style="color: #ffffff"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ng-click="delPeople(people.ID)">
                        <i class="bx bx-trash" style="color: #ffffff"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">Összesen: {{peoples.length}} diák</td>
            </tr>
        </tfoot>
    </table>
</div>
