<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{modaltitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="userName" placeholder="Tanár neve:" ng-model="teacher.userName" ng-disabled="mode==3">
                    <label for="nev">Tanár neve:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="phoneNum" placeholder="Telefonszám:" ng-model="teacher.phoneNum" ng-disabled="mode==3">
                    <label for="feltetek">Telefonszám:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="email" placeholder="Email cím:" ng-model="teacher.email" ng-disabled="mode==3">
                    <label for="kal">Email cím:</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
                <button type="button" class="btn btn-{{modalType}}" ng-click="submit()" data-bs-dismiss="modal">{{modalBtn}}</button>
            </div>
        </div>
    </div>
</div>