<h3>Tanárok kezelése</h3>
<hr />
<div ng-controller="teacherCtrl">
    <div ng-include="'Modal.html'"></div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ng-click="addPeople()">Új tanár felvétele</button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Tanár neve</th>
                <th>Tanár telefonszáma</th>
                <th>Tanár email-címe</th>
                <th class="text-end">Műveletek</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="people in peoples">
                <td>{{people.userName}}</td>
                <td>{{people.email}}</td>
                <td>{{people.phoneNum}}</td>
                <td class="text-end">
                    <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ng-click="modPeople(people.ID)">Módosítás</button>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ng-click="delPeople(people.ID)">Törlés</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">Összesen: {{peoples.length}} tanár</td>
            </tr>
        </tfoot>
    </table>
</div>
