<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../project/Frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="../project/Frontend/js/bootstrap.min.js">
    <link rel="stylesheet" href="style.css" />

    <title>Document</title>
</head>
<body>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="tableheader">Oktatás időtartama:</th>
            <th scope="col" class="tableheader" colspan="3">60 perc</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Óra</th>
            <th>Dátum (éééé.hh.nn)</th>
            <th>Össz km</th>
            <th>Órai km</th>
          </tr>
          <tr>
            <td scope="row">...</td>
            <td scope="row">...</td>
            <td scope="row">...</td>
            <td scope="row">...</td>
          </tr>
          <tr>
            <th>Km óra állása (kezdés)</th>
            <th>Km óra állása (vége)</th>
            <th>Kezdés (óra:perc)</th>
            <th>Vége (óra:perc)</th>
          </tr>
          <tr>
            <td scope="row">...</td>
            <td scope="row">...</td>
            <td scope="row">...</td>
            <td scope="row">...</td>
          </tr>
        </tbody>
      </table>
</body>
</html>