<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../project/Frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="../project/Frontend/js/bootstrap.min.js">
    <title>Document</title>
</head>
<body>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Oktatás időtartama: 60 perc</th>
            <th scope="col">Oktatási adatok</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Óra</th>
            <th>Dátum [éééé.hh.nn]</th>
            <th>Göngyölt km</th>
            <th>órai km</th>
          </tr>
          <tr>
            <td scope="row">...</td>
            <td scope="row">...</td>
            <td scope="row">...</td>
            <td scope="row">...</td>
          </tr>
          <tr>
            <th>Km óra állása [k]</th>
            <th>Km óra állása [v]</th>
            <th>Kezd [óó:pp]</th>
            <th>Vége [óó:pp]</th>
          </tr>
          <tr>
            <td scope="row">...</td>
            <td scope="row">...</td>
            <td scope="row">...</td>
            <td scope="row">...</td>
          </tr>
        </tbody>
      </table>
</body>
</html>