:root {
    --body-bg:#398AB9;
}

body {
    background-color: var(--body-bg);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    width: 500px;
    height: 250px;
    background-color: #1C658C;
    margin-top: 300px;
    color: #EEEEEE;
}